<div style="text-align:center;margin-right: 20px;"><img src="HerbelWorts.jpg" width="400"
height="400"></div>
<div style="text-align:center;margin-right: 20px;">
<a style="padding-right: 50px;" href="given 10 diseases.html">DISEASES</a><br>
<a style="padding-right: 50spx;" href="yoga.html">YOGA</a>
</div>
<h1 style="font-size:50px;text-align:center; ">Welcome TO HerbelWorts </h1>
<P style="font-size:20px;text-align:center;line-height: 2.5;margin-bottom: 20px; ">Ayurveda is one of
the Ancient cure for any dieses and is very helpful in many dieses.<br> like Blood
Presure ,Diabites,Paralysis,and many more.</p>
<hr>
<div style="text-align:center;"><a style="font-size:20px; background-color: red;padding-top:
20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;color: white;"
href="https://www.ayurcentre.sg/ayurveda-wellness/10-Reasons-ayurveda-best-medical-systemoverall-health" >10 reasons why ayurveda </a></div>
<h1 style="font-size:50px;text-align:center; "> AYURVED </h1>
<img style="width: 33%;" src="HACK 4.jpg">
<img style="width: 33%;" src="001.jpg">
<img style="width: 33%;" src="002.jpg">
<h1 style="font-size:50px;text-align:center; "> BENIFITS OF AYURVED </h1>
<div style="text-align:center;">
<video src="video ayurveda video.mp4" controls>
</div>  